<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
    </head>
    <body>
        <h1>Error</h1>
        <p><%= errorMsg %></p>
        <button>
            <a href="/">Go Home</a>
        </button>
    </body>
</html>