<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div class="title-container">
            <h1><%= title %></h1>
            <div class="about-container">
                <p>Odin Project NodeJS Course Project #3</p>
                <p>A program by <a href="https://github.com/mizakson">Mizakson</a></p>
            </div>
        </div>
        <div class="content">
             <div class="leagues-btns">
                <button><a href="/leagues">View Leagues</a></button>
             </div>
        </div>
            
    </body>
</html>