<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= pageTitle %></h1>
        <div class="home-btns">
            <button type="button" onclick="location.href='/teams'">Teams</button>
            <button type="button" onclick="location.href='/players'">Players</button>
        </div>
    </body>
</html>