<!DOCTYPE html>
<html>
    <head>
        <title>Teams</title>
    </head>
    <body>
        <h1>Teams</h1>
        <div class="info">
            <% for (const prop in teams) {%> 
                <ul><%= teams[prop]["team_name"]%></ul>
                <div class="options">
                    <button><a href="/team/<%= teams[prop]["team_id"] %>">View Team</a></button>
                    <button><a href="/team/update/<%= teams[prop]["team_id"] %>">Update Team</a></button>
                    <button><a href="/team/delete/<%= teams[prop]["team_id"] %>">Delete Team</a></button>
                </div>
            <%} %>
        </div>
        <div class="back">
            <button><a href="/">Go Home</a></button>
        </div>

    </body>
</html>