body {
    font-family: "Ubuntu", sans-serif;
    padding: 1.5%;
}

a, button {
    font-family: inherit;
}

a {
    text-decoration: none;
    text-transform: none;
    font-size: inherit;
    color: inherit;
}

a:hover {
    color: blue;
}

.leagues-btns {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.league {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
}

.team, .info {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center; 
}

.back {
    padding-top: 5%;
}

input, select, textarea, button{
    font-family: inherit;
}

input {
    margin-left: .5%;
    margin-right: 2.5%;
    margin-bottom: 2.5%;
}